@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#2f424f;
}

label { 
    color: #ffffff;
}

input {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px 24px;
    width: 50px;
    margin-bottom: 16px;
  }

button {
    border-radius: 8px;
    background: #eee;
    padding: 8px 16px;
  }

.title { 
    font-size: xx-large;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 32px;
}

.container {
    width: 408px;
    height: 408px;
    border: 8px solid #695c79;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.x-axis-container {

}

.y-axis-container { 
  
}

body, 
label, 
button {
  font-family: Roboto, sans-serif;
}